<template>
  <nav class="navbar navbar-expand-md navbar-light bg-white shadow-sm">
    <div class="container">
      <nuxt-link to="/" class="navbar-brand">Kinoha</nuxt-link>
      <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation" class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>
      <div id="navbarSupportedContent" class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <nuxt-link to="/movies" class="nav-link">Movies</nuxt-link>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Actors <span class="caret"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <nuxt-link v-for="actor in this.actors" v-bind:key="actor.id" class="dropdown-item" :to="`/movies?actor_id[]=${actor.id}`">{{ actor.name }}</nuxt-link>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Genres <span class="caret"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <nuxt-link v-for="gen in this.genres" v-bind:key="gen.id" class="dropdown-item" :to="`/movies?actor_id[]=${gen.id}`">{{ gen.name }}</nuxt-link>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                                           aria-expanded="false">
            Categories <span class="caret"></span>
          </a>
            <div class="dropdown-menu dropdown-menu-right" >
              <nuxt-link v-for="category in this.categoryes" v-bind:key="category.id" class="dropdown-item" :to="`/movies?actor_id[]=${category.id}`">{{ category.name }}</nuxt-link>
            </div>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <nuxt-link to="/login" class="nav-link">Login</nuxt-link>
          </li>
          <li class="nav-item">
            <nuxt-link to="/register" class="nav-link">Register</nuxt-link>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</template>

<script>
export default {
  data() {
    return {
      categoryes: [],
      genres: [],
      actors: [],
    }
  },
  async mounted() {
    const categoryes = await this.$axios.get('/categories');
    const genres = await this.$axios.get('/genres');
    const actors = await this.$axios.get('/actors');

    this.categoryes = categoryes.data;
    this.genres = genres.data;
    this.actors = actors.data;
  }
}
</script>

<style scoped>

</style>
