<template>
  <div>
    <td v-for="actor, index in actors" v-bind:id="actor.id">
      <label v-if="index > 0">/</label>
      <nuxt-link :to="`/movies?actor_id[]=${actor.id}`">{{ actor.name }}</nuxt-link>
    </td>
  </div>
</template>

<script>
export default {
  props: ['actors']
}
</script>

<style scoped>

</style>
