<template>
  <div>

    <div class="card-header">Comments</div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-12"></div>
      </div>
      <div class="row mt-4" v-for="comment in comments" v-bind:id="comment.id">
        <div class="col-md-12">
          <div id="comment-316" class="media">
            <img src="/media/1/conversions/avatar-thumb_75.jpg" class="mr-3" style="max-height: 32px;">
            <div class="media-body"><h5 class="mt-0">{{ comment.user.name }}</h5>
              <div><small class="text-muted">{{ comment.user.created_at }}</small>
              </div>
              {{ comment.description}}
            </div>
          </div>
          <hr>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "comments",
  props:['slug'],
  data() {
    return {
      comments: [],
    }
  },
  mounted() {
    const comments = this.$axios.get('/movies/'+this.slug+'/comments').then(res => {
      this.comments = res.data.data;
    });
  }
}
</script>

<style scoped>

</style>
