<template>
  <div >
    <div v-for="data, index in genres" v-bind:id="data.id">
      <label v-if="index > 0">/</label>
      <nuxt-link :to="`movies?genre_id[]=${data.id}`">{{ data.name }}</nuxt-link>
    </div>
  </div>
</template>

<script>
export default {
name: "genres",
  props: ['genres']
}
</script>

<style scoped>

</style>
