<template>
  <div class="bg-white rounded shadow-sm">
    <nuxt-link :to="`/movies/${movie.slug}`">
      <img :src="this.movie.logo" class="img-fluid card-img-top" style="max-height: 170px;">
    </nuxt-link>
    <div class="p-4"><h5><a href="/movies/giovanni" class="text-dark">{{ this.movie.name}}</a></h5>
      <div class="badge badge-success px-2 rounded-pill font-weight-normal"><i class="fa fa-gamepad"></i>{{ this.movie.category.name}}</div>
      <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4"><p class="small mb-0"><i class="fa fa-calendar"></i> <span
        class="font-weight-bold">Released 5 years ago</span></p>
        <div class="badge badge-success px-2 rounded-pill font-weight-normal"><i class="fa fa-star"></i>{{ this.movie.total_rate }}</div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: [
    'movie',
  ],
  created() {
    //console.log(this.movie);
  }
}
</script>

<style scoped>

</style>
