<template>
  <main class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header text-uppercase">{{ movie.name }}</div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-4">
                  <img :src="movie.logo" class="img-fluid card-img-top" :alt="movie.name">
                </div>
                <div class="col-md-8">
                  <table class="table table-listing table-hover table-align-middle">
                    <tbody>
                    <tr>
                      <td style="width: 200px;"><i class="fa fa-gamepad"></i> Category</td>
                      <td>
                        <nuxt-link :to="`/movies?category_id=${movie.category.id}`">{{ movie.category.name }}</nuxt-link>
                      </td>
                    </tr>
                    <tr>
                      <td><i class="fa fa-user"></i> Actors</td>
                      <actors :actors="movie.actors"></actors>
                    </tr>
                    <tr>
                      <td><i class="fa fa-camera"></i> Genres</td>
                      <td>
                        <genres :genres="movie.genres"></genres>
                      </td>
                    </tr>
                    <tr>
                      <td><i class="fa fa-calendar"></i> Released at</td>
                      <td>{{ movie.released_at }}</td>
                    </tr>
                    <tr>
                      <td><i class="fa fa-star"></i> Rating</td>
                      <td>
                        <div>
                          <div>
                            Total Rate
                            <label>{{ movie.total_rate }}</label>
                          </div>
                          <hr> <!----></div>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="row">
                <div class="col-md-10">
                  <ul class="timeline">
                    <li>
                      {{ movie.description }}
                    </li>
                  </ul>
                </div>
              </div>
              <div class="row"></div>
            </div>
          </div>
          <div class="card mt-4">
            <comments :slug="movie.slug"></comments>
          </div>
        </div>
      </div>
    </div>
  </main>
</template>

<script>
import Actors from "@/components/Movies/actors";
import Genres from "@/components/Movies/genres";
import Comments from "@/components/Movies/comments";
export default {
  components: {Comments, Genres, Actors},
  async asyncData({params, $axios}){
    const movie = await $axios.get('/movies/' + params.slug);
    return {
      movie: movie.data,
    }
  },
}
</script>

<style scoped>

</style>
