<template>
  <main class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="card">
            <div class="card-header"><i class="fa fa-search"></i> Search movies</div>
            <div class="card-body">
              <form action="">
                <div class="form-group">
                  <label >Category</label>
                  <select name="category_id" id="category_id" class="form-control form-control-sm" >
                    <option value="">All</option>
                    <option  v-for="category in categoryes" v-bind:id="category.id" value="category.id">{{ category.name }}</option>
                  </select>
                </div>
                <div class="form-group"><label for="actor_id">Actors</label> <select multiple="multiple" name="actor_id[]" id="actor_id"
                                                                                     class="form-control form-control-sm">
                  <option value="">All</option>
                  <option  v-for="actor in actors" v-bind:id="actor.id" value="actor.id">{{ actor.name }}</option>
                </select></div>
                <div class="form-group">
                  <label for="genre_id">Genres</label>
                  <select multiple="multiple" name="genre_id[]" id="genre_id" class="form-control form-control-sm">
                  <option value="">All</option>
                    <option  v-for="genre in genres" v-bind:id="genre.id" value="actor.id">{{ genre.name }}</option>
                </select></div>
                <div class="form-group"><label for="sort_id">Sotring</label>
                  <select multiple="multiple" name="sort_rate" id="sort_id" class="form-control form-control-sm">
                  <option value="" selected="selected">Latest</option>
                  <option value="1">By Rating</option>
                </select></div>
                <div class="form-group">
                  <div class="btn-group btn-block">
                    <button type="submit" href="#" class="btn btn-primary"><i class="fa fa-search"></i> Search
                    </button>
                    <a href="/movies" class="btn btn-danger"><i class="fa fa-refresh"></i> Reset
                    </a></div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-9">
          <div class="row">
            <div class="col-xl-3 col-lg-4 col-md-6 mb-4" v-for="movie in movies" v-bind:id="movie.id">
              <movie :movie="movie"></movie>
            </div>
          </div>
<!--          <div class="row">-->
<!--            <div class="col-md-12">-->
<!--              <nav>-->
<!--                <ul class="pagination">-->
<!--                  <li aria-disabled="true" aria-label="« Previous" class="page-item disabled"><span aria-hidden="true" class="page-link">‹</span></li>-->
<!--                  <li aria-current="page" class="page-item active"><span class="page-link">1</span></li>-->
<!--                  <li class="page-item"><a href="http://kinoha.itis.today/movies?page=2" class="page-link">2</a></li>-->
<!--                  <li class="page-item"><a href="http://kinoha.itis.today/movies?page=3" class="page-link">3</a></li>-->
<!--                  <li class="page-item"><a href="http://kinoha.itis.today/movies?page=4" class="page-link">4</a></li>-->
<!--                  <li class="page-item"><a href="http://kinoha.itis.today/movies?page=5" class="page-link">5</a></li>-->
<!--                  <li class="page-item"><a href="http://kinoha.itis.today/movies?page=2" rel="next" aria-label="Next »" class="page-link">›</a></li>-->
<!--                </ul>-->
<!--              </nav>-->
<!--            </div>-->
<!--          </div>-->
          <div class="row">
            <div class="col-md-12"></div>
          </div>
        </div>
      </div>
    </div>
  </main>
</template>

<script>
import Movie from "@/components/Movies/movie";
export default {
  components: {Movie},
  data() {
    return {
    }
  },
  async asyncData({$axios}){
    const movies = await $axios.get('/movies?per_page=4&page=1');

    const categoryes = await $axios.get('/categories');
    const genres = await $axios.get('/genres');
    const actors = await $axios.get('/actors');

    return {
      movies: movies.data.data,
      categoryes: categoryes.data,
      genres: genres.data,
      actors: actors.data,
    }
  },
}
</script>

<style scoped>

</style>
