<template>
  <div>
    <sidebar></sidebar>
    <div class="container py-2">
      <div class="row">
        <div class="col-md-12"></div>
      </div>
      <div class="row">
        <div class="col-md-12"></div>
      </div>
    </div>
    <Nuxt/>
  </div>
</template>

<style>
</style>
<script>
import Sidebar from "@/components/sidebar";

export default {
  components: {Sidebar}
}
</script>
