<template>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-xl-3 col-lg-4 col-md-6 mb-4" v-for="movie in movies" v-bind:id="movie.id">

            <movie :movie="movie"></movie>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Movie from "@/components/Movies/movie";
export default {

  async asyncData({$axios}){
    const movies = await $axios.get('/movies?per_page=4&page=1');
    return {
      movies: movies.data.data,
    }
  },
  components: {
    Movie
  },
}
</script>
